<!DOCTYPE html>
<html>
<head>
  <title>study rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="abc()">
	<div class="container-fluid">
	<%= render "common/navbar" %>	
		<div class="row">
			<%= notice_message %>
		</div>
		<%= yield%>
	</div>
	<%= render "common/footer" %>
<%= javascript_include_tag 'ws'%>
<%= javascript_include_tag 'smoothscroll'%>
<%= javascript_include_tag 'jquery.counterup'%>
<%= javascript_include_tag 'jquery.typer.min'%>
<%= javascript_include_tag 'wow'%>
<%= javascript_include_tag 'like'%>
<%= javascript_include_tag 'type'%>
</body>
</html>
